ul {
	margin: 0;
	padding: 0
}
ul li {
	list-style: none;
}
.main-heading{
    margin-top: 34px;
}
ul.cat-gallery{
	margin-top: 22px;
}
.cat-gallery > li{
	margin-bottom: 24px;
	cursor: pointer;
}
.cat-gallery > li > img{
	width: 100%;
	overflow: hidden;
}
.cat-heading{
	text-align: center;
}
#lightSlider img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSGallery li.active {
    border: 2px solid #ff6135;
}
.lSGallery a {
    outline: 0;
}
.imageInput {
    margin-top: 9px;
    text-align: center;
}
/*ajax loader*/
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    position: relative;
    top: 50%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}